@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Frunchy Sage';
    src: url('/Frunchy Sage/Frunchy.ttf') format('truetype'),
        url('/Frunchy Sage/Frunchy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal/NeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

